@using Chavo.ECommerce.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<center style="padding-top:10%;">
    <div class="cuadro-login" style="border-radius:15px">
        <div class="panel-primary">
            <div class="panel-heading" style="border-top-left-radius:15px; border-top-right-radius:15px">
                <div class="img-responsive">
                    <img src="~/Content/imgs/login.jpeg" style="width:100%;border-top-left-radius:15px; border-top-right-radius:15px" />
                </div>
            </div>           
            <div class="panel-body">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                <h6 class="text-danger">@ViewBag.ErrorUser</h6>
                                <h6 class="text-danger">@ViewBag.ErrorLock</h6>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            <div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="submit" value="Log in" class="btn btn-giroala" />
                                <br />
                                @Html.ActionLink("Registrar nueva cuenta","Register")
                            </div>
                        </div>                      
                    }
                </section>
            </div>

        </div>
    </div>
</center>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}