@model Chavo.ECommerce.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row align-self-center justify-content-center">
        <div class="col-sm-12 col-md-5 align-self-center pt-5 pb-5 justify-content-center">
            <div class="panel cuadro-border">
                <img src="@Url.Content(Model.GeneralConfiguration.FullRoutePicture)" style="width:100%;border-top-left-radius:15px; border-top-right-radius:15px; background-size:cover" />
                <div class="panel-body container">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                <h6 class="text-danger">@ViewBag.ErrorUser</h6>
                                <h6 class="text-danger">@ViewBag.ErrorLock</h6>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("Cúal es mi número de transacción?", "TransacctionNumber", "Home")
                            <br />
                            @Html.LabelFor(m => m.Transaction, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.Transaction, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Transaction, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <center>
                                <input type="submit" value="Registrar" class="btn btn-giroala" />
                                <a href="@Url.Action("Index","Home")" class="btn btn-giroala-light"><span class="fa fa-home"></span></a>
                                <br />
                                @Html.ActionLink("Log in", "Login")
                            </center>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
