@model Chavo.Web.Data.Entity.Register

@{
    ViewBag.Title = "Details";
    ViewBag.SubTitle = "Register";
}

<h2>@ViewBag.Title</h2>
<h4>@ViewBag.SubTitle</h4>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
    <li><a href="@Url.Action("Index")">Registers</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<hr />
<div id="myForm">
    @{ Html.RenderPartial("_RegisterItems", Model); }
</div>
<div class="col-md-6">
    <div class="form-horizontal">
        <div class="form-group">
            <a href="@Url.Action("Edit",new { id=Model.RegisterId})" class="btn btn-warning"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
            <a href="@Url.Action("Index")" class="btn btn-secondary"><i class="fa fa-arrow-left"></i>&nbsp;To Back</a>
        </div>
    </div>
</div>
