@model Chavo.Web.Models.CustomerViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>
<h4>Customer</h4>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
    <li><a href="@Url.Action("Index")">Customers</a></li>
    <li class="active">@Model.AllName</li>
</ol>
<hr />
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data" aria-selected="true">Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products" aria-selected="false">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="revenues-tab" data-toggle="tab" href="#revenues" role="tab" aria-controls="revenues" aria-selected="false">Revenues</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="investors-tab" data-toggle="tab" href="#investors" role="tab" aria-controls="investors" aria-selected="false">Investors</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="data-tab">
        <div id="myForm">
            @{ Html.RenderPartial("_CustomerItems", Model); }
        </div>
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <a href="@Url.Action("Edit",new { id=Model.CustomerId})" class="btn btn-warning"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                    <a href="@Url.Action("Index","Account",new { userName=Model.UserName, control="Customers"})" class="btn btn-outline-primary"><i class="fa fa-user"></i>&nbsp;User</a>
                    <a href="@Url.Action("Index")" class="btn btn-secondary"><i class="fa fa-arrow-left"></i>&nbsp;To Back</a>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab">
        @{ Html.RenderPartial("_ProductsList", Model); }
    </div>
    <div class="tab-pane fade" id="revenues" role="tabpanel" aria-labelledby="revenues-tab">
        <div class="row">
            <div class="col-md-3 col-sm-12 border-left order-md-1 order-lg-1 order-xl-1 order-sm-0">
                <div class="card">
                    <div class="card-header bg-primary text-light"><h5>Corto Plazo</h5></div>
                    <div class="card-body text-center">
                        <input id="shortRevenue" type="text" class="form-control-lg form-control-plaintext" onchange="ChangeAmount(this.value,'s', '@Model.CustomerId');" value="@string.Format("{0}{1}","$",Model.ShortRevenue.ToString("N2"))" style="font-size:2.5em;color:#6c757d !important;text-align:center;font-weight:500" />
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-header bg-success text-light"><h5>Mediano Plazo</h5></div>
                    <div class="card-body text-center">
                        <input id="mediumRevenue" type="text" class="form-control-lg form-control-plaintext" onchange="ChangeAmount(this.value,'m', '@Model.CustomerId');" value="@string.Format("{0}{1}","$",Model.MediumRevenue.ToString("N2"))" style="font-size:2.5em;color:#6c757d !important;text-align:center;font-weight:500" />
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-header bg-warning text-dark"><h5>Largo Plazo</h5></div>
                    <div class="card-body text-center">
                        <input id="longRevenue" type="text" class="form-control-lg form-control-plaintext" onchange="ChangeAmount(this.value,'l', '@Model.CustomerId');" value="@string.Format("{0}{1}","$",Model.LongRevenue.ToString("N2"))" style="font-size:2.5em;color:#6c757d !important;text-align:center;font-weight:500" />
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 order-md-0 order-lg-0 order-xl-0 order-sm-1">
                @{ Html.RenderPartial("_RevenuesList", Model); }
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="investors" role="tabpanel" aria-labelledby="investors-tab">
        @{ Html.RenderPartial("_InvestorsList", Model); }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        function ChangeAmount(value, type, id)
        {
            $.ajax(
            {
                type: "GET",
                url: '@Url.Action("ChangeRevenue")',
                    data: {
                        value:convert(value),
                        type:type,
                        id: id,                    
                },
                success: function (result) {
                    if (result) {
                        alertify.success("<i class='fa fa-check-circle'></i>&nbsp;Change success");
                        switch (type) {
                            case "s":
                                $("#shortRevenue").val("$" + convert(value).toFixed(2));
                                break;
                            case "m":
                                $("#mediumRevenue").val("$" + convert(value).toFixed(2));
                                break;
                            case "l":
                                $("#longRevenue").val("$" + convert(value).toFixed(2));
                                break;
                            default:
                                break;
                        }
                    }
                    else {
                        alertify.success("<i class='fa fa-times-circle'></i>&nbsp;Change error");
                    }
                }
            }); 
        }

        // Function to convert 
    function convert(currency){ 
        var temp = currency.replace(/[^0-9.-]+/g,""); 
        return parseFloat(temp); 
      
    } 
    </script>
}