@model Chavo.Web.Data.Entity.Revenue

@{
    ViewBag.Title = "Edit";
    ViewBag.Title = "Revenue";
}

<h2>@ViewBag.Title</h2>
<h4>@ViewBag.SubTitle</h4>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
    <li><a href="@Url.Action("Index")">Customers</a></li>
    <li><a href="@Url.Action("Details", new { id=Model.CustomerId})">@Model.Customer.AllName</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<hr />
<div id="myForm">
    @{ Html.RenderPartial("_RevenueItems", Model); }
</div>
<div class="col-md-6">
    <div class="form-horizontal">
        <div class="form-group">
            <a href="@Url.Action("EditRevenue",new { id=Model.RevenueId})" class="btn btn-warning"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
            <a href="@Url.Action("Details", new { id=Model.CustomerId})" class="btn btn-secondary"><i class="fa fa-arrow-left"></i>&nbsp;To Back</a>
        </div>
    </div>
</div>