<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Chavito</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />    
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm sticky-top bg-giroala navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">Románico</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","LearningZone")">
                            Zona de Aprendizaje
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","PrivateZone")">
                                Zona Privada
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index#sectionProducts">
                            Producto Romanico GR
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact","Home")">
                            Contacto
                        </a>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-nav" }))
                        {
                            @Html.AntiForgeryToken()

                            <li class="nav-item">
                                @Html.ActionLink("Hello " + User.Identity.Name.Substring(0, 10) + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                                    Log off
                                </a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login","Account")">
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Register","Account")">
                                Registrar
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
        <!-- Footer -->
        @{ Html.RenderAction("Footer", "Home");}
        <!-- Footer -->
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/fontawesome.js"></script>
    <script src="~/Scripts/all.js"></script>
    <script src="~/Scripts/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
