@model Chavo.ECommerce.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (!string.IsNullOrEmpty(Model.VideoBanner))
{
    <div class="border-bottom">
        <iframe style="width:100%; min-height:315px; height:auto" src=@Model.VideoBanner allow="autoplay"></iframe>
    </div>
}
else
{
    <div class="jumbotron">
        <h1>Románico</h1>
        <p class="lead">Te amo. Perdon. Lo siento.</p>
        <p><a href="#sectionProducts" class="btn btn-giroala btn-lg">Productos &raquo;</a></p>
    </div>
}

<div class="row">
    <div class="d-none col-xl-2 d-xl-block col-lg-3 d-lg-block col-md-4 d-md-block border-right">
        <div class="container" style="position: sticky;top:4em;">
            <h2>Filtros</h2>
            <hr />
            <p>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label">Orden</label>
                        <select id="orden" name="orden" class="form-control">
                            <option value="0">A-Z</option>
                            <option value="1">Z-A</option>
                            <option value="2">Menor a Mayor</option>
                            <option value="3">Mayor a Menor</option>
                        </select>
                    </div>
                </div>
            </p>
            <hr />
            <p>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label">Máximo</label>
                        <input name="max" id="max" class="form-control" placeholder="0.00" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mínimo</label>
                        <input name="min" id="min" class="form-control" placeholder="0.00" />
                    </div>
                </div>
            </p>
            <hr />
            <p>
                <label class="control-label">Categorias</label>
                <ul style="list-style: none;">
                    @foreach (var category in Model.Categories)
                    {
                        <li>
                            <input value="@category.CategoryId" class="category" type="checkbox" />&nbsp;@category.Name
                            @if (category.SubCategories.Count() > 0)
                            {
                                <ul style="list-style: none;">
                                    @foreach (var subCategory in category.SubCategories)
                                    {
                                        <li>
                                            <input value="@subCategory.SubCategoryId" class="subCategory" type="checkbox" />&nbsp;@subCategory.Name
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </p>
            <p>
                <button class="btn btn-light" onclick="Find();"><i class="fa fa-search"></i>&nbsp;Buscar</button>
            </p>
        </div>
    </div>
    <div id="sectionProducts" class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
        <h2>Productos</h2>
        <hr />
        <div class="row justify-content-start">
            @foreach (var item in Model.Products.Where(p=>!p.RealState))
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card card-product">
                        <img src="@Url.Content(item.FullRoutePicture)" class="card-img-top img-thumbnail" onclick="location.href='@Url.Action("Details","Products", new { id=item.ProductId})'" style="height:300px" alt="@item.Name">
                        <div class="card-body">
                            <span class="font-weight-bold text-muted pull-right">@string.Format("{0}{1}", item.Currency.Nomenclature, item.PriceAmount)</span>
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@Html.Raw(item.ShortDescription)</p>
                            <div class="form-group" style="text-align:center">
                                <a href="@item.AcquireProduct" class="btn btn-giroala">Seleccionar este para mi</a><br />
                                <a href="@item.AcquireProduct" class="btn btn-giroala mt-2">Adquirir este producto</a>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
        <h2>Bienes Raíces</h2>
        <hr />
        <div class="row justify-content-start">
            @foreach (var item in Model.Products.Where(p=>p.RealState))
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card card-product">
                        <img src="@Url.Content(item.FullRoutePicture)" class="card-img-top img-thumbnail" onclick="location.href='@Url.Action("Details","Products", new { id=item.ProductId})'" style="height:300px" alt="@item.Name">
                        <div class="card-body">
                            <span class="font-weight-bold text-muted pull-right">@string.Format("{0}{1}", item.Currency.Nomenclature, item.PriceAmount)</span>
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@Html.Raw(item.ShortDescription)</p>
                            <div class="form-group" style="text-align:center">
                                <a href="@item.AcquireProduct" class="btn btn-giroala">Seleccionar este para mi</a><br />
                                <a href="@item.AcquireProduct" class="btn btn-giroala mt-2">Adquirir este producto</a>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    
</div>

@section scripts
{
    <script type="text/javascript">
        var categories = [];
        var subCategories = [];

        $('input[type=checkbox]').click(function(){
            if(this.checked){ // if checked - check all parent checkboxes
                $(this).parents('li').children('input[type=checkbox]').prop('checked',true);
            }
            // children checkboxes depend on current checkbox
            $(this).parent().find('input[type=checkbox]').prop('checked',this.checked); 
        });

        
        function Seleccionar(id, type, trans)
        {
            if (type==="category") {
                if (trans==="push")
                {
                    var find = categories.find(f=>f===id);
                    if (find!==id) {
                        categories.push(id);
                    }                      
                } else {
                    categories.pop(id);
                }
                
            } else {
                    if (trans==="push")
                    {
                        var find = subCategories.find(f=>f===id);
                        if (find!==id) {
                            subCategories.push(id);
                        }                      
                    } else {
                        subCategories.pop(id);
                    }
            }   
        }

        $(".category").change(function (e) {
               if(this.checked){ // if checked - check all parent checkboxes
                   Seleccionar($(this).val(), "category", "push");
               } else {
                   Seleccionar($(this).val(), "category", "pop");
               }
            
        });

        $(".subCategory").change(function (e) {
              if(this.checked){ // if checked - check all parent checkboxes
                   Seleccionar($(this).val(), "subCategory", "push");
               } else {
                   Seleccionar($(this).val(), "subCategory", "pop");
               }
        });

        function Find()
        {
            location.href = "/Home/Index?orden=" + $('#orden').val() +
                "&categories=" + categories +
                "&subCategories=" + subCategories +
                "&min=" + $('#min').val() +
                "&max=" + $('#max').val();
        }
    </script>
}