@model Chavo.Web.Data.Entity.Product
@{
    Layout = null;
}
<hr />
<h3>More Pictures</h3>
<hr />
<div class="row">
    @foreach (var item in Model.Pictures)
    {
    <div class="col-md-3">
        @if (!string.IsNullOrEmpty(item.Picture))
        {
            <img src="@Url.Content(item.Picture)" alt="@item.Name" width="100" height="100" class="img-thumbnail" />
        }
        <a href="@Url.Action("EditPicturesProduct", new { id=item.PicturesProductId})">@item.Name</a>&nbsp;<a class="text-danger" href="@Url.Action("DeletePicturesProduct", new { id=item.PicturesProductId})"><i class="fa fa-remove"></i></a>
    </div>
    }
</div>

