@model Chavo.Web.Models.ProductViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.SubTitle = "Product";
}

<h2>@ViewBag.Title</h2>
<h4>@ViewBag.SubTitle</h4>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
    <li><a href="@Url.Action("Index")">Products</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<hr />
<div id="myForm">
    @{Html.RenderPartial("_ProductItems", Model); }
</div>
<div class="col-md-6">
    <div class="form-horizontal">
        <div class="form-group">
            <a href="@Url.Action("Edit",new { id=Model.ProductId})" class="btn btn-warning"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
            <a href="@Url.Action("Index")" class="btn btn-secondary"><i class="fa fa-arrow-left"></i>&nbsp;To Back</a>
            <a href="@Url.Action("CreatePicturesProduct", new { id=Model.ProductId})" class="btn btn-primary"><i class="fa fa-photo"></i>&nbsp;Add Picture</a>
        </div>
    </div>
</div> 
<div id="picturesProduct">
    @if(Model.Pictures.Count()>0)
    {
        Html.RenderPartial("_GetPicturesProduct", Model);
    }
</div>


