@model Chavo.Common.Customer
@{
    ViewBag.Title = "Inversor Asignado";   
}

<center style="padding-top:5%; padding-bottom:5%;">
    <div class="cuadro-login" style="border-radius:15px; width:50%">
        <div class="panel panel-primary m-4">
            <div class="panel-heading" style="border-top-left-radius:15px; border-top-right-radius:15px">
                <h5>@ViewBag.Title</h5>
            </div>
            <div class="panel-body">
                <section id="loginForm" style="text-align:justify">
                    @foreach (var item in Model.Investors)
                    {
                        <div class="row">
                            <div class="col-md-6 border-right">
                                <dl class="dl-horizontal">
                                    <dt>
                                        ID
                                    </dt>

                                    <dd>
                                        @Html.Display(item.Investor.ID)
                                    </dd>

                                    <dt>
                                        First Name
                                    </dt>

                                    <dd>
                                        @Html.Display(item.Investor.FirstName)
                                    </dd>

                                    <dt>
                                        Last Name
                                    </dt>

                                    <dd>
                                        @Html.Display(item.Investor.LastName)
                                    </dd>

                                    <dt>
                                        Email
                                    </dt>

                                    <dd>
                                        @Html.Display(item.Investor.Email)
                                    </dd>

                                    <dt>
                                        Active
                                    </dt>

                                    <dd>
                                        <input type="checkbox" checked="@(item.Active?"checked":"")" />
                                    </dd>

                                    <dt>
                                        Ganancia
                                    </dt>

                                    <dd>
                                        @Html.Display("$" + item.Investor.Products
                                                            .Where(p=>p.StatePurchase==Chavo.Common.StatePurchase.Entregado)
                                                            .Sum(p=>(p.Product.PriceAmount * (item.Products.Where(p=>p.ProductId==p.ProductId).FirstOrDefault().PercentageProfit/100) ))
                                                            .ToString("N2"))
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                @if (!string.IsNullOrEmpty(item.Investor.Picture))
                                {
                                    <center>
                                        <img src="@Url.Content(item.Investor.FullRoutePicture)" alt="Picture Profile" class="img-thumbnail img-profile" />
                                    </center>
                                }
                                else
                                {
                                    <center>
                                        <img src="~/Content/imgs/CustomerAvatar.png" class="img-thumbnail img-profile" />
                                    </center>
                                }
                            </div>
                        </div>
                    }
                    <hr />
                    <a class="btn btn-giroala" href="@Url.Action("Index","Home")">Ok</a>
                </section>
            </div>
        </div>
    </div>
</center>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

