@model Chavo.ECommerce.Models.CustomerViewModel

@{
    ViewBag.Title = "Private Zone";
}
<div class="row pb-2 mb-2">
    <section id="ingresos" class="col-12">
        <span class="pull-right">
            @if (Model.DisplayInversor)
            {
                <a class="btn btn-lg btn-success" href="@Url.Action("AssignedInvestor")"><i class="fa fa-user"></i>&nbsp;Inversor Asignado</a>
            }
            <a href="@Model.GeneralConfigurations.FacebookGroup" class="btn btn-lg btn-giroala"><i class="fa fa-facebook-official"></i>&nbsp;Grupo de Facebook</a>
        </span>
        <h2>
            Mis Ingresos <span class="small">$@((Model.ShortRevenue + Model.MediumRevenue + Model.LongRevenue).ToString("N2"))/$@(Model.MaxToWin.ToString("N2"))</span>
        </h2>
        <hr />
        <div class="row">
            @if (Model.DisplayShortRevenue)
            {
                <div class="col-lg-4 col-md-4 col-sm-12 pb-sm-3">
                    <div class="card">
                        <div class="card-header bg-primary text-light"><h5>Corto Plazo <span class="small">- Inversor Asignado</span></h5></div>
                        <div class="card-body">
                            @*TODO: Quitar el currency quemado*@
                            <span style="font-size:3em;color:#6c757d !important;font-weight:500">$&nbsp;<span class="pull-right text-right">@Model.ShortRevenue.ToString("N2")</span></span>
                        </div>
                    </div>
                </div>
            }
            @if (Model.DisplayMediumRevenue)
            {
                <div class="col-lg-4 col-md-4 col-sm-12 pb-sm-3">
                    <div class="card">
                        <div class="card-header bg-success text-light"><h5>Mediano Plazo <span class="small">- GIROALA</span></h5></div>
                        <div class="card-body">
                            <span style="font-size:3em;color:#6c757d !important;font-weight:500">$&nbsp;<span class="pull-right text-right">@Model.MediumRevenue.ToString("N2")</span></span>
                        </div>
                    </div>
                </div>
            }
            @if (Model.DisplayLongRevenue)
            {
                <div class="col-lg-4 col-md-4 col-sm-12 pb-sm-3">
                    <div class="card">
                        <div class="card-header bg-warning text-dark"><h5>Largo Plazo <span class="small">- Bienes Raíces Románico</span></h5></div>
                        <div class="card-body">
                            <span style="font-size:3em;color:#6c757d !important;font-weight:500">$&nbsp;<span class="pull-right text-right">@Model.LongRevenue.ToString("N2")</span></span>
                        </div>
                    </div>
                </div>
            }



        </div>
        <span class="pull-right">
            @* TODO: Cambiar por links dinamicos *@
            <a href="@Url.Action("RetirarIngresos")" class="btn btn-lg btn-light">Retirar dinero</a>
            <a href="@Model.GeneralConfigurations.VideoCashing" class="btn btn-lg btn-light">Video explicativo</a>
        </span>
    </section>
</div>
<hr />
<div class="row">
    <section id="productos" class="col-lg-4 col-md-5 col-sm-6">
        <h2>Productos</h2>
        <hr />
        @foreach (var item in Model.Products.Where(p=>!p.Product.RealState))
        {
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">                  
                            <img src="@Url.Content(item.Product.FullRoutePicture)" class="img-profile-sm" width="75" height="75" />
                        </div>
                        <div class="col-10 text-truncate">
                            <div class="ml-lg-2 ml-md-3" style="margin:auto;padding: 10px;">
                                <h3>@item.Product.Name</h3>
                                <div style="width:100%" class="text-truncate">
                                    <p>@item.Product.ShortDescription</p>
                                    <p>
                                        @Html.Raw("<span class='pull-right " + (item.StatePurchase == Chavo.Common.StatePurchase.Comprado
                                       ? "badge badge-warning" : "badge badge-success") +"'>" + (item.StatePurchase == Chavo.Common.StatePurchase.Comprado
                                       ? "Por Entregar" : "Entregado") +"</span>")                                      
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.Products.Count()==0)
        {
            <h5>No tiene productos asociados</h5>
        }
        <hr />
    </section>
    <div class="col-lg-8 col-md-7 col-sm-6">
        <section id="bienesRaices">
            <h2>Bienes Raíces</h2>
            <hr />
            @foreach (var item in Model.Products.Where(p => p.Product.RealState))
            {
                <div class="card mb-2" style="width:100%">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-1 col-md-2 col-sm-2">  
                                <img src="@Url.Content(item.Product.FullRoutePicture)" class="img-profile-sm" width="75" height="75" />                       
                            </div>
                            <div class="col-lg-11 col-md-10 col-sm-10  text-truncate">
                                <div class="ml-lg-2 ml-md-3" style="margin:auto;padding: 10px;">
                                    <h3>@item.Product.Name</h3>
                                    <div style="width:100%" class="text-truncate">
                                        <p>@item.Product.ShortDescription</p>
                                        <p><span class="pull-right"><a class="btn btn-sm btn-light text-muted" href="@Url.Action("Deatils","Products", new { id= item.ProductId })"></a> Ver mas..</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Products.Count() == 0)
            {
                <h5>No tiene productos asociados</h5>
            }
            @if (Model.DisplayMoreRealEstate)
            {
                <p class="pb-4">
                    <span class="pull-right">
                        <a class="btn btn-giroala-light" href="@Model.GeneralConfigurations.RealEstate">Ver más</a>
                    </span>
                </p>
            }
        </section>
        <hr />
        <div class="pb-5">
            <section id="sectionLinks" style="padding-bottom:1em;">
                <span class="pull-right">
                    @if (Model.DisplayInversor)
                    {
                        <a class="btn btn-lg btn-success" href="@Url.Action("AssignedInvestor")"><i class="fa fa-user"></i>&nbsp;Inversor Asignado</a>
                    }
                <a href="@Model.GeneralConfigurations.FacebookGroup" class="btn btn-lg btn-giroala"><i class="fa fa-facebook-official"></i>&nbsp;Grupo de Facebook</a>
                </span>
            </section>
        </div>
    </div>
</div>
@* TODO: Cambiar link dinamico *@
@if (Model.DisplayClothes)
{
    <a href="@Url.Action("Index", "Home", new { acquiereProduct = true })" class="btn-flotante btn-success" title="Seleccionar Prenda"> <i class="flotante-icon fa fa-tshirt"></i></a>
}


